Om/Utilities/obj/Debug/Utilities.csproj.FileListAbsolute.txt.bak.bak
Om/Utilities/obj/Debug/Utilities.csproj.FileListAbsolute.txt.bak
Om/Om/obj/Debug/build.force
Om/Om/obj/Debug/OperationManager.csproj.FileListAbsolute.txt.bak
Om/DLL/obj/Debug/DAL.csproj.FileListAbsolute.txt.bak
Om/BLL/obj/Debug/BLL.csproj.FileListAbsolute.txt.bak
