@{
    ViewBag.Title = "信号月表";
}
@using BLL;
<style>
    .drp {
        width: 100px;
        height: 30px;
    }
</style>

<nav class="breadcrumb"></nav>
<div class="Hui-article">
    <article class="cl pd-20">
        <div class="text-c">
            @{
                M_HitchInfoBll bll = new M_HitchInfoBll();
                List<SelectListItem> listFactory = new List<SelectListItem>();
                listFactory.Add(new SelectListItem { Text = "全部", Value = "" });
                var listf = bll.GetFactorySationList();
                foreach (var item in listf)
                {
                    listFactory.Add(new SelectListItem { Text = item, Value = item });
                }



                List<SelectListItem> listpass = new List<SelectListItem>();
                string[] arrsetting = bll.GetSetting("selecttimes").Split(',');
                foreach (var item in arrsetting)
                {
                    listpass.Add(new SelectListItem { Text = item, Value = item, Selected = true });
                }


            }

            具体月份：
            <input type="text" onclick="selectMonth()" id="datemin" class="input-text Wdate" style="width:120px;" value="@DateTime.Now.ToString("yyyy-MM")">
            厂站 @Html.DropDownList("factory", listFactory, new { @class = "drp" })

            信号类型
            <input type="text" class="input-text" style="width:250px" placeholder="输入信号类型" id="key" name="">
            <button onclick="search()" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 查询</button>
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="l" id="operate"> </span>
            <span class="r">共有数据：<strong id="total">54</strong> 条</span>
        </div>
        <table class="table table-border table-bordered table-bg">
            <thead>
                <tr>
                    <th scope="col" colspan="9">信息列表</th>
                </tr>
                <tr class="text-c">

                    <th width="90">厂站</th>
                    <th width="300">信号</th>
                    <th width="100">数量</th>
                    <th width="100">日期</th>
                    <th width="100">治理</th>
                </tr>
            </thead>
            <tbody id="view1"></tbody>
        </table>


        <div style="margin:0;text-align:center;margin-top:15px" id="page1"></div>
    </article>
</div>


@section  scripts
{
    <script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript" src="~/lib/date.js"></script>
    <script src="~/lib/operate.js"></script>
    <script type="text/javascript">
        function selectMonth() {
            WdatePicker({ dateFmt: 'yyyy-MM', isShowToday: false, isShowClear: false });
        }
        function search()
        {
            demo(1);
        }
            $(function ()
            {
                operateButton();
                demo(1);
            }
            )


            function btn_add() {
                admin_add('添加', '/System/UserAdd', '800', '500')
            }

            function btn_edit() {
                if ($("#view1").find(":checkbox:checked").length == 1) {
                    var UseridId = $("#view1").find(":checkbox:checked").val();
                    admin_add('修改', '/System/UserAdd?UseridId=' + UseridId, '800', '500')
                }
                else {
                    $.Huimodalalert('请选择一个需要修改的数据', 1000)
                }

            }
            function btn_leadingin()
            {
                admin_add('导入', '/Manage/Hitchleadingin', '800', '500')
            }

            function demo(page) {
                $.post('/api/ApiM_HitchInfo/MonthList',
                   { "page": page, "rows": 20, "sord": "desc", "sidx": "total", "datetime": $("#datemin").val(), "factory": $("#factory").val(), "key": $("#key").val() } //向服务端传的参数，此处只是演示
                , function (res) {

                    $("#total").html(res.records);
                    var strhtml="";
                    //此处仅仅是为了演示变化的内容
                    for (var i = 0; i < res.rows.length; i++) {
                        strhtml+="<tr class=\"text-c\">";
                        strhtml += "<td>" + res.rows[i].factorysation + "</td>";
                        strhtml += "<td>" + res.rows[i].signal + "</td>";
                        strhtml += "<td>" + res.rows[i].total + "</td>";
                        strhtml += "<td>" + res.rows[i].createtime + "</td>";
                        strhtml += "<td><a class=\"btn btn-success radius\" onclick=\"zhili('" + res.rows[i].factorysation + "','" + res.rows[i].signal + "','" + res.rows[i].createtime.substring(0, 10) + "')\">治理</a></td>";
                        strhtml+="</tr>"

                    }
                    document.getElementById('view1').innerHTML = strhtml;
                    $("#view1").children().mouseover(function () {
                        $(this).css("background-color", "#f5fafe");
                        $(this).siblings().css("background-color", "");
                    }
                  );
                    $("#view1").children().click(function () {
                        if ($(this).children().find(":checkbox").prop("checked")) {
                            $(this).children().find(":checkbox").prop("checked", false);
                        }
                        else {
                            $(this).children().find(":checkbox").prop("checked", true);
                        }

                    }
                );

                    laypage({
                        cont: 'page1', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
                        pages: res.total, //通过后台拿到的总页数
                        curr: res.page, //当前页
                        skip: true,
                        groups: 10,//连续分页数
                        jump: function (obj, first) { //触发分页后的回调
                            if (!first) { //点击跳页触发函数自身，并传递当前页：obj.curr
                                demo(obj.curr);
                            }
                        }
                    });
                },"json");
            };
            function admin_add(title, url, w, h) {
                layer_show(title, url, w, h);
            }

            function btn_del() {
                if ($("#view1").find(":checkbox:checked").length > 0) {
                    if (confirm("你确定禁用选定用户吗")) {
                        //  loading1();
                        var ids = "";
                        $("#view1").find(":checkbox:checked").each(function (index) {
                            if (ids == "") {
                                ids = $(this).val();
                            }
                            else {
                                ids += "," + $(this).val();
                            }

                        }
                        );

                        $.post("/api/ApiUser/EnabledUser", { "ids": ids }, function (data) {
                            //removeLoading('test');
                            // alert("删除成功");
                            location.href = location.href

                        }, "json"
                        )

                    }

                }
                else {
                    $.Huimodalalert('请勾选要禁用的用户', 1000)
                }
            }
            function btn_qy()
            {
                if ($("#view1").find(":checkbox:checked").length > 0) {
                    if (confirm("你确定启用选定用户吗")) {
                        //  loading1();
                        var ids = "";
                        $("#view1").find(":checkbox:checked").each(function (index) {
                            if (ids == "") {
                                ids = $(this).val();
                            }
                            else {
                                ids += "," + $(this).val();
                            }

                        }
                        );

                        $.post("/api/ApiUser/KqUser", { "ids": ids }, function (data) {
                            //removeLoading('test');
                            // alert("删除成功");
                            location.href = location.href

                        }, "json"
                        )

                    }

                }
                else {
                    $.Huimodalalert('请勾选要禁用的用户', 1000)
                }
            }

            function zhili(factorysation, signal, createtime)
            {
                admin_add('厂站:' + factorysation + "信号:" + signal, '/Manage/zhili?factorysation=' + factorysation + "&signal=" + signal + "&createtime=" + createtime, '1500', '700')
            }



    </script>

}

