<!--_meta 作为公共模版分离出去-->

@{
    Layout = null;
}
@model Model.PredicSetting
@using Utilities.Base.Common;
@using BLL;
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="favicon.ico">
    <link rel="Shortcut Icon" href="favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script><![endif]-->
    <!--/meta 作为公共模版分离出去-->

    <title>添加管理员 - 管理员管理</title>
    <style>
        select {
            height: 30px;
            width: 100px;
        }
    </style>
</head>
<body>

    @{
        M_HitchInfoBll bll = new M_HitchInfoBll();
        List<SelectListItem> listFactory = new List<SelectListItem>();
        listFactory.Add(new SelectListItem { Text = "全部", Value = "" });
        var listf = bll.GetFactorySationList();
        foreach (var item in listf)
        {
            listFactory.Add(new SelectListItem { Text = item, Value = item });
        }



        List<SelectListItem> listpass = new List<SelectListItem>();
        string[] arrsetting = bll.GetSetting("selecttimes").Split(',');
        foreach (var item in arrsetting)
        {
            listpass.Add(new SelectListItem { Text = item, Value = item, Selected = true });
        }


    }
    <article class="cl pd-20">
        <form action="/api/ApiPredicSetting/PredicSettingAdd" method="post" class="form form-horizontal" id="form-admin-add">
            @Html.HiddenFor(a => a.PredictSettingId)
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>厂站：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    @Html.DropDownListFor(a => a.FactorySation, listFactory, new { @class = "drp" })
              
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>信号</label>
                <div class="formControls col-xs-8 col-sm-9">
                    @Html.TextBoxFor(a => a.Signal, new { @class = "input-text", autocomplete = "off" })
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>比例：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    @Html.TextBoxFor(a => a.ScaleDetial, new { @class = "input-text", autocomplete = "off" })
                </div>
            </div>

            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                    <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                </div>
            </div>
        </form>
    </article>

    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="/static/h-ui/js/H-ui.js"></script>
    <script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.page.js"></script>

    <!--/_footer /作为公共模版分离出去-->
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});

	$("#form-admin-add").validate({
		rules:{
		    FactorySation: {
				required:true,

			},
		    Signal: {
				required:true,
		    },
		    ScaleDetial: {
		        required: true,
		    },

		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler: function (form) {
		    $(form).ajaxSubmit(function (data) {
		        if (data.code)
		        {
		            var index = parent.layer.getFrameIndex(window.name);
		            parent.location.reload();
		            parent.layer.close(index);
		        }


		    });
	}
	});
});
    </script>
    <!--/请在上方写此页面业务相关的脚本-->
</body>
</html>