<!--_meta 作为公共模版分离出去-->

@{
    Layout = null;
}
@model Model.BaseUser
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="favicon.ico">
    <link rel="Shortcut Icon" href="favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css" />

    <link rel="stylesheet" href="/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script><![endif]-->
    <!--/meta 作为公共模版分离出去-->

    <title>添加管理员 - 管理员管理</title>
</head>
<body>
    <div class="Hui-article">
        <article class="cl pd-20">
            <table class="table">
                <tr>
                    <td width="200" class="va-t"><ul id="treeDemo" class="ztree"></ul></td>
                    <td class="va-t">

                      

                        <dl class="cl permission-list2">
                            
                            <dd id="dd">
                                
                            </dd>
                        </dl>
                    </td>
                </tr>
            </table>
            <input class="btn btn-primary radius" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;"  onclick="sumit()">
        </article>
    </div>

    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="/static/h-ui/js/H-ui.js"></script>
    <script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.page.js"></script>

    <!--/_footer /作为公共模版分离出去-->
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript" src="/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>
    <script type="text/javascript">
        var operatemodule = {};
var setting = {
    view: {
        dblClickExpand: false,
        showLine: false,
        selectedMulti: false
    },
    data: {
        key:{
            checked: "ischecked",
            name: "ModuleName"
        },
        simpleData: {
            enable:true,
            idKey: "ModuleId",
            pIdKey: "ParentId",
            rootPId: ""
        }
    },
    check: {
        enable: true
    },
    
    callback: {
        beforeClick: function(treeId, treeNode) {
            var zTree = $.fn.zTree.getZTreeObj("treeDemo");
            if (treeNode.isParent) {
                zTree.expandNode(treeNode);
                return false;
            } else {
                //alert(treeNode.tId);
                //demoIframe.attr("src",treeNode.file + ".html");
                return true;
            }
        },
        onClick: function (event, treeId, treeNode)
        {
            if (treeNode.ischecked)
            {
                var strhtml = "";
                var module=operatemodule.module.ModuleList;
                for (var i = 0; i <module.length; i++) {

                    if (treeNode.id == module[i].ModuleId)
                    {
                       
                        strhtml += " <label class=\"\">  <input type=\"checkbox\" value=\"\" id=\"AllCheck_" + module[i].ModuleId + "\"  onclick=\"checkall(" + module[i].ModuleId + ")\"  data-id=\"" + module[i].ModuleId + "\" value=\"" + module[i].ModuleId + "\"> 全选</label>"
                        for (var j = 0; j < module[i].List.length; j++) {
                            if (module[i].List[j].IsCheck) {
                                strhtml += " <label class=\"\"> <input type=\"checkbox\" checked=\"true\"  id=\"operate" + module[i].List[j].OperateId + "\" data-module=\"" + module[i].ModuleId + "\" onclick=\"check(" + module[i].List[j].OperateId + ")\" data-id=\"" + module[i].List[j].OperateId + "\"  value=\"" + module[i].List[j].OperateId + "\" name=\"user-Character-0-0-0\" id-d=\"Module_" + module[i].ModuleId + "_Operate_" + module[i].List[j].OperateId + "\" >" + module[i].List[j].OperateName + " </label>";

                            }
                            else {
                                strhtml += " <label class=\"\"> <input type=\"checkbox\"  id=\"operate" + module[i].List[j].OperateId + "\" data-module=\"" + module[i].ModuleId + "\" onclick=\"check(" + module[i].List[j].OperateId + ")\" data-id=\"" + module[i].List[j].OperateId + "\"  value=\"" + module[i].List[j].OperateId + "\" name=\"user-Character-0-0-0\" id-d=\"Module_" + module[i].ModuleId + "_Operate_" + module[i].List[j].OperateId + "\" >" + module[i].List[j].OperateName + " </label>";

                            }
                        }
                    }
                }
              
                $("#dd").html(strhtml);
            }

            //alert(JSON.stringify(operatemodule));
          //  alert();
          // alert(treeNode.tId);
          // demoIframe.attr("src", "/System/OperateList?moduleid=" + treeNode.tId.split("_")[1]);
          //  alert(treeNode.tId + ", " + treeNode.name + treeNode.parentTId);

        },
        onCheck: function (event, treeId, treeNode)
        {
            var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
            var nodes = treeObj.getCheckedNodes(true);
            updatemodel(nodes)
           
         //   alert(treeNode.tId + ", " + treeNode.name + "," + treeNode.checked);
          }
    }
};
function checkall(moduleid)
{
    if ($("#AllCheck_" + moduleid).prop("checked")) {

        $("#dd").find("input:checkbox").prop("checked", true);
    }
    else {
        $("#dd").find("input:checkbox").prop("checked", false);
    }
  
    var obj = {};
    obj.moduleid = moduleid;
    obj.checklist = [];
    $("#dd").find(":checkbox").each(function(index)
    {
      
        if ($(this).prop("checked") && index > 0)
        {
            obj.checklist.push($(this).attr("data-id"));
        }
    });
 //  alert(JSON.stringify(obj));
    updateoperater(obj);
}
function check(operateid)
{
    var obj = {};
    obj.moduleid = $("#operate" + operateid).attr("data-module")
    obj.checklist = [];
    $("#dd").find(":checkbox").each(function (index) {
      
        if ($(this).prop("checked") && index > 0) {
            obj.checklist.push($(this).attr("data-id"));
        }
    });
    updateoperater(obj);
}

       
function updatemodel(arr)
{
   // console.log(JSON.stringify(arr));
    var module = operatemodule.module.ModuleList;
    for (var i = 0; i < module.length; i++) {
        var count = 0;
        for (var j = 0; j < arr.length; j++) {
            if (module[i].ModuleId == arr[j].id)
            {
                count++;
            }
        }
       
         if (count == 0) {
            module[i].ischecked = false;
        }
         else {
             
            module[i].ischecked = true;
        }

    }
    operatemodule.module.ModuleList = module;
    alert(JSON.stringify(operatemodule))
}
function updateoperater(obj)
{
    var module = operatemodule.module.ModuleList;
    for (var i = 0; i < module.length; i++) {
        if (module[i].ModuleId == obj.moduleid)
        {
            for (var z = 0; z < module[i].List.length; z++) {
                var count = 0;
                for (var j = 0; j < obj.checklist.length; j++) {
                    if (module[i].List[z].OperateId == obj.checklist[j])
                    {
                        count++;
                    }
                }
                if (count == 0) {
                    module[i].List[z].IsCheck = false;
                }
                else {
                    module[i].List[z].IsCheck = true;
                }

            }
           
        }

    }
    operatemodule.module.ModuleList = module;
   // alert(JSON.stringify(operatemodule))
}
    

var code;


function showCode(str) {
    if (!code) code = $("#code");
    code.empty();
    code.append("<li>"+str+"</li>");
}
function sumit()
{
    //alert(operatemodule);
    //var obj = {"abc":1,b:"2"}
    $.post("/api/ApiModuleOperate/CreateModuleOperate", { "operate":JSON.stringify(operatemodule.module),"roleid":"@Request.QueryString["roleid"]"}, function (data)
    {
        if (data.code)
        {
            alert("提交成功")
            var index = parent.layer.getFrameIndex(window.name);
            parent.location.reload();
            parent.layer.close(index);
        }

    },"json"
    );
}

$(document).ready(function () {
    $(".permission-list2 dd input:checkbox").click(function () {
        var l = $(this).parent().parent().find("input:checked").length;
        var l2 = $(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
        if ($(this).prop("checked")) {
            $(this).closest("dl").find("dt input:checkbox").prop("checked", true);
            $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked", true);
        }
        else {
            if (l == 0) {
                $(this).closest("dl").find("dt input:checkbox").prop("checked", false);
            }
            if (l2 == 0) {
                $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked", false);
            }
        }
    });

    $.post("/api/ApiModule/GetModelList", {}, function (data) {
       
    }
    );
    $.post("/api/ApiModuleOperate/GetAllOperate", { "roleid": '@Request.QueryString["roleid"]' }, function (data) {
      //  alert(JSON.stringify(data));
        var t = $("#treeDemo");
        var zNodes = data.module.ModuleList;
        t = $.fn.zTree.init(t, setting, zNodes);
        operatemodule = data;
        console.log(JSON.stringify(data));
    },"Json"
    );
});

	

    //demoIframe = $("#testIframe");
    //demoIframe.bind("load", loadReady);
var zTree = $.fn.zTree.getZTreeObj("treeDemo");
   </script>
    <!--/请在上方写此页面业务相关的脚本-->
</body>
</html>