
@{
    Layout = null;
}

<%@ Page Language="C#" AutoEventWireup="true" CodeFile="login.aspx.cs" Inherits="ds_admin_login" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <title><%=Global.StrComName%></title>
    <link href="css/skin1/global.css" rel="stylesheet" type="text/css" />
    <link href="css/skin1/login.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="scripts/jquery.js"></script>
    <script type="text/javascript" src="scripts/fun.js"></script>
</head>
<body>
    <form id="form1" runat="server">
        <link rel="stylesheet" href="scripts/easydialog/easydialog.css" />
        <script type="text/javascript" src="scripts/easydialog/easydialog.js"></script>
        <script type="text/javascript" src="scripts/show.js"></script>
        <div id="LoginDiv" style="background-image: url(images/skin1/login_bg_<%=_Num%>.jpg)">
            <div class="d1">
                <table class="t1" cellspacing="0">
                    <tr>
                        <td class="tdl">
                            <img src="images/logo.gif" />
                        </td>
                        <td class="tdr">建议您使用Webkit核心浏览器　　<a href="http://www.google.cn/chrome/intl/zh-CN/landing_chrome.html" target="_blank" class="Blue Underline chrome">下载Google Chrome</a></td>
                    </tr>
                </table>
            </div>
            <div class="d2">
                <div class="k1">
                    <div class="bg"></div>
                    <div class="nr">
                        <div class="title">用户登录</div>
                        <div class="cont">
                            <p class="m5">用户名</p>
                            <p class="m10">
                                <asp:TextBox ID="UserName" runat="server" MaxLength="50" CssClass="formtext"></asp:TextBox>
                            </p>
                            <p class="m5">密码</p>
                            <p class="m20">
                                <asp:TextBox ID="UserPassword" runat="server" MaxLength="50" TextMode="Password" CssClass="formtext"></asp:TextBox>
                            </p>
                            <p class="m20">
                                <asp:Button ID="LoginBtn" runat="server" CssClass="loginBtn" Text="" OnClientClick="return LoginCheck()" OnClick="Submit_Click" />
                            </p>
                            <p class="White">
                                请不要在公共场合登录本系统<br />
                                注意保管好您的密码！
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d3">
                <p class="t3">&copy; 2013&nbsp;&nbsp;www.idea-source.net All right Reserved</p>
            </div>
        </div>
    </form>
</body>
</html>
